@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {    
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.portfolio {
    background-color: #111216;
}

.Bg {
    position: absolute;
    max-width: 100%;
}

.header_container {
    position: relative;
    color: white;
}

.header_txt {
    position: absolute;
    margin-top: 10%;
    margin-left: 4%;
    font-size: 80px;
    font-weight: bold;
    text-align: left;
    border-right: solid 3px rgba(0,255,0,.75);
    white-space: nowrap;
    overflow: hidden;
    animation: animated-text 4s steps(50,end) 1s 1 normal,
            animated-cursor 600ms steps(50,end) infinite;
}

@keyframes animated-text{
    from{width: 0;}
    to{width: 540px; border-right-color: transparent;}
}

@keyframes animated-cursor{
    from{border-right-color: rgba(0,255,0,.75);}
    to{border-right-color: transparent;}
}

.parallax {
    position: relative;
    background-image: url("../assets/parallax_bg.jpg");
    margin-top: -10px;
}

.about {
    margin-top: 40%;
}

h1 {
    font-size: 48px;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.avatar {
    margin-left: 2%;
}

.about_div {
    margin-top: 1%;
    color: #FFFFFF;
}

.projects_div {
    color: #FFFFFF;
}

.contact_div {
    color: #FFFFFF;
}

.p_about {
    position: relative;
    margin-left: 12%;
    margin-top: -18vh;
    font-size: 3.5vh;
}

.p_contact {
    margin-left: 5%;
}
h2 {
    font-size: 1.2vw;
}

.contact_content {
    text-align: center;
}

.end_content {
    margin-top: 5vh;
    text-align: center;
    background-color: #111111;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    background-color: #202020;
    border-radius: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 265px;
    position: relative;
}

.card:hover {
    transform: scale(1.1);
    transition: transform 330ms ease-in-out;
}

.card-header img {
    width: 100%;
    height: 22vh;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0% 5% 50px 5%;
    min-height: 26vh;
}

.card-body h4 {
    font-size: 30px;
    color: #EEEEEE
}

.card-body p {
    font-size: 18px;
    padding-top: 1vh;
    color: #BBCCBB
}

.tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 1.8vh;
    margin: 3% 0% 3% 0%;
    color: #fff;
    padding: 3px 10px;
    text-transform: uppercase;
    margin-left: 5px;

}
    .tag-teal {
        background-color: #47bcd4;
    }
    .tag-red {
        background-color: #FF6863;
    }
    .tag-light-purple {
        background-color: #5e76bf;
    }
    .tag-pink {
        background-color: #cd5b9f;
    }
    .tag-green {
        background-color: #85C855;
    }
    .tag-purple {
        background-color: #84628C;
    }


.card-body p {
    font-size: 2.2vh;
    margin: 0 0 1vh;
}

.user {
    display: flex;
    margin-bottom: 1vh;
    bottom: 0;
    position: absolute;
}

.user-info h5 {
    margin-top: 1.6vh;
    color: #DDEEDD
}
.user-info small {
    color: #99AA99;
}