* {    
    margin: 0;
    padding: 0;
}

.Bg {
    max-width: 100%;
}

.header_container {
    position: relative;
    color: white;
}

.header_txt {
    position: absolute;
    top: 20%;
    left: 4%;
    font-size: 80px;
    font-weight: bold;
    text-align: left;
}