* {    
    margin: 0;
    padding: 0;
}

.portfolio {
    background-color: #111216;
}

.Bg {
    position: absolute;
    max-width: 100%;
}

.header_container {
    position: relative;
    color: white;
}

.header_txt {
    position: absolute;
    margin-top: 10%;
    margin-left: 4%;
    font-size: 6vw;
    font-weight: bold;
    text-align: left;
}

.about {
    margin-top: 40%;
}

h1 {
    font-size: 3.5vw;
}

.about_div {
    color: #FFFFFF;
}

.projects_div {
    color: #FFFFFF;
}

.contact_div {
    color: #FFFFFF;
}